@import url('@src/styles/variables.css');

.dropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  max-height: 20rem;
  overflow: scroll;
  z-index: 3;
  background: white;
  color: black;
  left: 0;
}

.item {
  transition: all 0.3s ease;
}

.item:hover {
  cursor: pointer;
  background-color: var(--link-color-hover);
}