@import '@src/styles/variables.scss';

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: $details-background;
  width: 47%;
  color: $details-font-color;
  font-size: 1.5rem;
  height: fit-content;

  @media (max-width: $tablet-breakpoint) {
    margin-top: 1rem;
    width: 100%;
  }
}

.img {
  width: -webkit-fill-available;
}

.details_btn {
  width: fit-content;
}
