.main {
  margin: 1rem auto;
  width: 90%;
  max-width: 980px;
}

.search_wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.search {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
}

.input {
  flex-grow: 1;
  padding: 0 1rem;
}

.btn {
  padding: 1rem 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

