.main {
  margin: 1rem auto;
  width: 90%;
  max-width: 980px;
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.search_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.search {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
}

.input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

.search_result_title {
  font-size: 2.5rem;
  margin: 1rem 0;
}