// Colors
$body-background: #21ac83cc;
$main-font-color: #063023;
$news-item-border-color: #21154b;
$spinner-background: #bdbdbd;
$details-font-color: #8b0000;
$details-background: #00000033;

//Font
$main-font: Georgia, 'Times New Roman', Times, serif;