@import '@src/styles/variables.scss';

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-family: $pagination-font;
  margin-top: 1rem;
}

.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: $news-item-border-color;
  color: $body-background;
  border-radius: 50%;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    filter: contrast(200%);
  }

  &_active {
    background-color: $details-font-color;
    pointer-events: none;
  }
}

