:root {
  --primary-bg-color: #242424;
  --primary-font-color: #ffffffde;
  --link-color: #646cff;
  --link-color-hover: #535bf2;
  --link-active-color: #670303;
  --button-bg: #1a1a1a;
  --header-bg: #00000080;

  --font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}