@import url('@src/styles/variables.css');

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
}

.header {
  width: 100%;
  background-color: var(--header-bg);
}

.header a {
  font-size: 2rem;
  padding: 0 1rem;
}

.navigation {
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
}

.title {
  margin-right: auto;
  font-size: 2.5rem;
  text-wrap: nowrap;
  text-align: center;
}

.main {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
  }

  .title {
    margin: 0;
  }
}